.theme-dark {
	--indicator-selected: var(--indicator-selected);
    	--indicator-unread: var(--indicator-unread);
	--indicator-connected: var(--indicator-connected);
}

.theme-light {
	--indicator-selected: var(--indicator-selected);
   	--indicator-unread: var(--indicator-unread);
	--indicator-connected: var(--indicator-connected);
}

:root {
	--indicator-border-info: solid 2px;
	--indicator-hovered: rgba(85, 90, 100, 0.15);
	--indicator-selected-border: rgba(var(--indicator-selected));
	--indicator-selected-hover: rgba(var(--indicator-selected), 0.18);
	--indicator-selected-background: rgba(var(--indicator-selected), 0.1);
	--indicator-unread-border: rgba(var(--indicator-unread), 0.6);
	--indicator-unread-hover: rgba(var(--indicator-unread), 0.2);
	--indicator-unread-background: rgba(var(--indicator-unread), 0.020);
	--indicator-connected-border: rgba(var(--indicator-connected));
	--indicator-connected-hover: rgba(var(--indicator-connected), 0.18);
	--indicator-connected-background: rgba(var(--indicator-connected), 0.1);
}

#app-mount {}

#app-mount .layout-1qmrhw,
#app-mount .wrapper-NhbLHG .content-1gYQeQ {
	background-color: transparent;
}


#app-mount .categoryItem-Kc_HK_:before,
#app-mount .channel-1Shao0:before,
#app-mount .wrapper-NhbLHG:before {
	content: ""
}

#app-mount .channel-1Shao0:before,
#app-mount .containerDefault-YUSmu3 .wrapper-NhbLHG:before {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
}

#app-mount .container-1oeRFJ.clickable-28SzVr:hover,
#app-mount .modeMuted-2T4MDZ:hover,
#app-mount [class="iconVisibility-vptxma wrapper-NhbLHG"]:hover {
	background: var(--indicator-hovered);
}

#app-mount .container-1oeRFJ.clickable-28SzVr:hover div>svg,
#app-mount .modeMuted-2T4MDZ:hover div>svg,
#app-mount .modeSelected-3DmyhH:hover div>svg,
#app-mount .modeConnected-NrO4cP:hover div>svg,
#app-mount .modeUnread-3Cxepe:hover div>svg,
#app-mount [class="iconVisibility-vptxma wrapper-NhbLHG"]:hover div>svg {
	color: rgba(255, 255, 255, 0.7);
}

#app-mount .channel-1Shao0.selected-1-Z6gm,
#app-mount .modeSelected-3DmyhH,
#app-mount .selectedCategoryItem-ZjqSui {
	background-color: var(--indicator-selected-background);
}

#app-mount .channel-1Shao0.selected-1-Z6gm:hover,
#app-mount .modeSelected-3DmyhH:hover,
#app-mount .selectedCategoryItem-ZjqSui:hover {
	background-color: var(--indicator-selected-hover);
}

#app-mount .channel-1Shao0.selected-1-Z6gm:before,
#app-mount .modeSelected-3DmyhH:before,
#app-mount .selectedCategoryItem-ZjqSui:before {
	border-left: var(--indicator-border-info) var(--indicator-selected-border);
}

#app-mount .channel-1Shao0.selected-1-Z6gm div>svg,
#app-mount .selectedCategoryItem-ZjqSui div>svg {
	color: var(--indicator-selected-icons);
}

#app-mount .modeUnread-3Cxepe {
	background-color: var(--indicator-unread-background);
}

#app-mount .modeUnread-3Cxepe:hover {
	background-color: var(--indicator-unread-hover);
}

#app-mount .modeUnread-3Cxepe:before {
	border-left: var(--indicator-border-info) var(--indicator-unread-border);
}

#app-mount .modeUnread-3Cxepe .unread-36eUEm {
	display: none;
}

#app-mount .modeConnected-NrO4cP {
	background-color: var(--indicator-connected-background);
}

#app-mount .modeConnected-NrO4cP:hover {
	background-color: var(--indicator-connected-hover);
}

#app-mount .modeConnected-NrO4cP:before {
	border-left: var(--indicator-border-info) var(--indicator-connected-border);
}
