/**
 * @name DarkGlow+LOCAL
 * @version 0.2
 * @description Dark and compact theme for Discord with a lot of useful features.
 * @author Mih0l#6969
 * @authorId 237931447200120835
*/

/******************************************** MAIN CHANGABLE ROOT SETTINGS ********************************************/

:root {
	--accent-color:             rgba(138,62,33,0.82); 						/* Accent color 						| Default: rgba(49,114,122,1) */
	--glow-intensity:         	1.1; 										/* Intensity of the glow 				| Default: 1 */	
	--voice-channel-width:      230px; 										/* Width of the voice channel 			| Default: 220px */
	--user-list-width:        	230px; 										/* Width of the user list 				| Default: 240px */
	--unread-chat-color:   		rgba(189,66,66,0.85);						/* Unread chat color		 			| Default: rgba(189,66,66,0.85) */
	--stream-visibility:  		block;										/* Stream visibility block / none			| Default: block */
}

/******************************************** END MAIN CHANGABLE ROOT SETTINGS ********************************************/







