/****************************************** FIXES ******************************************/

/* STATUSEVERYWHERE STATUS COLOR FIX */
.StatusEverywhere-avatar-chatAvatar [fill="#3BA55D"] {
	fill: #43B581;
}

/* STATUSEVERYWHERE MOBILE STATUS FIX */
.userPopout-2j1gM4 [data-mobile="true"].StatusEverywhere-avatar-userPopout,
.root-8LYsGj [data-mobile="true"] .StatusEverywhere-avatar-chatAvatar {
	border-right: 0px solid transparent !important;
	border-bottom: 0px solid transparent !important;
}
.root-8LYsGj [data-mobile="true"] .StatusEverywhere-avatar-chatAvatar.wrapper-1VLyxH::after {
	margin-top: -68px;
}

/* STATUSEVERYWHERE USER PROFILE POPOUT FIX */
.userPopout-2j1gM4 .StatusEverywhere-avatar-chatAvatar {
	height: 100px !important;
	width: 100px !important;
}
.userPopout-2j1gM4 .StatusEverywhere-avatar-chatAvatar foreignObject {
	background-color: #1C1C1C;
}
.userPopout-2j1gM4 .StatusEverywhere-avatar-userPopout+.avatarHint-k7pYop {
	top: 2px;
	left: 2px;
}
.userPopout-2j1gM4 [data-status="online"].StatusEverywhere-avatar-userPopout {
	border: 2px solid #43B581;
}
.userPopout-2j1gM4 [data-status="idle"].StatusEverywhere-avatar-userPopout {
	border: 2px solid #FAA61A;
}
.userPopout-2j1gM4 [data-status="dnd"].StatusEverywhere-avatar-userPopout {
	border: 2px solid #F04747;
}
.userPopout-2j1gM4 [data-status="streaming"].StatusEverywhere-avatar-userPopout {
	border: 2px solid #593695;
}
.userPopout-2j1gM4 [data-status="offline"].StatusEverywhere-avatar-userPopout,
.userPopout-2j1gM4 [data-status="invisible"].StatusEverywhere-avatar-userPopout {
	border: 2px solid #747F8D;
}
.userPopout-2j1gM4 [data-status="online"] .StatusEverywhere-avatar-chatAvatar {
	--user-status-background: linear-gradient(#43B581 1px, #43B58150 2px, #43B58110 50%, transparent 75%);
}
.userPopout-2j1gM4 [data-status="idle"] .StatusEverywhere-avatar-chatAvatar {
	--user-status-background: linear-gradient(#FAA61A 1px, #FAA61A50 2px, #FAA61A10 50%, transparent 75%);
}
.userPopout-2j1gM4 [data-status="dnd"] .StatusEverywhere-avatar-chatAvatar {
	--user-status-background: linear-gradient(#F04747 1px, #F0474750 2px, #F0474710 50%, transparent 75%);
}
.userPopout-2j1gM4 [data-status="streaming"] .StatusEverywhere-avatar-chatAvatar {
	--user-status-background: linear-gradient(#593695 1px, #59369550 2px, #59369510 50%, transparent 75%);
}
.userPopout-2j1gM4 [data-status="offline"] .StatusEverywhere-avatar-chatAvatar,
.userPopout-2j1gM4 [data-status="invisible"] .StatusEverywhere-avatar-chatAvatar {
	--user-status-background: linear-gradient(#747F8D 1px, #747F8D50 2px, #747F8D10 50%, transparent 75%);
}

/* STATUSEVERYWHERE USER PROFILE MODAL FIX */
.root-8LYsGj .StatusEverywhere-avatar-chatAvatar.wrapper-1VLyxH.avatar-3QF_VA {
	width: 144px !important;
	height: 144px !important;
}
.root-8LYsGj [data-status="online"] .StatusEverywhere-avatar-chatAvatar.avatar-3QF_VA {
	border: 2px solid #43B581;
}
.root-8LYsGj [data-status="idle"] .StatusEverywhere-avatar-chatAvatar.avatar-3QF_VA {
	border: 2px solid #FAA61A;
}
.root-8LYsGj [data-status="dnd"] .StatusEverywhere-avatar-chatAvatar.avatar-3QF_VA {
	border: 2px solid #F04747;
}
.root-8LYsGj [data-status="streaming"] .StatusEverywhere-avatar-chatAvatar.avatar-3QF_VA {
	border: 2px solid #593695;
}
.root-8LYsGj [data-status="offline"] .StatusEverywhere-avatar-chatAvatar.avatar-3QF_VA,
.root-8LYsGj [data-status="invisible"] .StatusEverywhere-avatar-chatAvatar.avatar-3QF_VA {
	border: 2px solid #747F8D;
}
.root-8LYsGj [data-status="online"] .StatusEverywhere-avatar-chatAvatar {
	--user-status-background: linear-gradient(#43B581 2px, #43B58150 2px, #43B58110 50%, transparent 88%);
}
.root-8LYsGj [data-status="idle"] .StatusEverywhere-avatar-chatAvatar.avatar-3QF_VA {
	--user-status-background: linear-gradient(#FAA61A 2px, #FAA61A50 2px, #FAA61A10 50%, transparent 88%);
}
.root-8LYsGj [data-status="dnd"] .StatusEverywhere-avatar-chatAvatar.avatar-3QF_VA {
	--user-status-background: linear-gradient(#F04747 2px, #F0474750 2px, #F0474710 50%, transparent 88%);
}
.root-8LYsGj [data-status="streaming"] .StatusEverywhere-avatar-chatAvatar.avatar-3QF_VA {
	--user-status-background: linear-gradient(#593695 2px, #59369550 2px, #59369510 50%, transparent 88%);
}
.root-8LYsGj [data-status="offline"] .StatusEverywhere-avatar-chatAvatar.avatar-3QF_VA,
.root-8LYsGj [data-status="invisible"] .StatusEverywhere-avatar-chatAvatar.avatar-3QF_VA {
	--user-status-background: linear-gradient(#747F8D 2px, #747F8D50 2px, #747F8D10 50%, transparent 88%);
}

/* RESIZING BACKGROUND */
body {
	background-color: #161616;
}

/* ENTERING/EXITING OPTIONS BACKGROUND */
.layers-OrUESM,
.page-17zZ-Y {
	background-color: #191919;
}

/* DISCORD CRASHED BACKGROUND */
.wrapper-3AZUiP {
	background: #111111;
}

/* REMOVE CORNER ROUNDING */
.app-19_DXt .base-2jDfDU {
	border-radius: 0px;
}

/* CONNECTING/RECONNECTING LOADING SCREEN */
.container-2RRFHK {
	background: hsla(0,0%,5%,0.90) !important;
}

/* LINK COLORS */
.app a {
	color: #FFFFFF;
}
.standardSidebarView-E9Pc3j .side-2ur1Qk a {
	color: var(--accent-color);
}

/* LOADING SPINNER */
.inner-26JK4f, 
.spinner-inner {
	filter: grayscale(1);
}

/* NEW FEATURE POPUP */
.container-5N5x2A {
	background-color: var(--accent-color);
}
.container-5N5x2A .betaTag-282ajR {
	background-color: var(--accent-color) !important;
}

/* DISCORD LOGIN BOX */
.root-g14mjS .authBox-1HR6Ha {
	background-color: #262626 !important;
}
.root-g14mjS .navRow-dG-XX8 {
	background-color: #191919 !important;
}

/* REPO PLUGINS LOADING ICON */
.loadingIconWrapper-PsVJ9m {
	filter: hue-rotate(-10deg) brightness(0.5) contrast(1.2);
	pointer-events: none;
}

/* REPO PLUGINS LIST */
.repoList-9JnAPs .repoHeader-2KfNvH {
	padding-top: 44px;
}
.repoList-9JnAPs .repoHeader-2KfNvH > * {
	max-width: 770px;
	padding-left: 40px;
	padding-right: 0px;
}
.repoList-9JnAPs .repoHeader-2KfNvH .tabBar-2MuP6- {
	height: 40px;
}
.repoList-9JnAPs .repoHeader-2KfNvH .tabBarContainer-1s1u-z.bottom-b8sdfs {
	border-bottom: none;
}
.repoList-9JnAPs .list-QuW8QR {
	padding: 0px 0;
}
.repoList-9JnAPs .contentColumn-1C7as6 {
	padding: 0px 20px 0px 40px;
}

/* REPO PLUGINS CARDS */
.repoList-9JnAPs .card-x5zW6z {
	height: 350px;
}
.repoList-9JnAPs .card-x5zW6z,
.repoList-9JnAPs .card-x5zW6z .iconWrapper-eK7GO6 {
	background-color: #262626;
	border: none;
}
.repoList-9JnAPs .card-x5zW6z:hover,
.repoList-9JnAPs .card-x5zW6z:hover .iconWrapper-eK7GO6 {
	background-color: #212121;
}
.repoList-9JnAPs .card-x5zW6z .description-zXiu5E {
	margin: 4px 0 4px;
}
.repoList-9JnAPs .card-x5zW6z .description-zXiu5E::-webkit-scrollbar-thumb {
	background-color: #191919;
}
.repoList-9JnAPs .card-x5zW6z .tag-PbPfwP {
	background-color: var(--accent-color) !important;
	border-radius: 4px;
}
.repoList-9JnAPs .card-x5zW6z .author-d2JIcl,
.repoList-9JnAPs .card-x5zW6z .stats-Pc5tYW {
	color: #FFFFFF;
	font-size: 15px;
}

/* BETTERDISCORD PLUGIN/THEME ISSUE MODAL */
.bd-addon-error {
	background-color: #191919;
	border: none;
}
.bd-addon-error-icon,
.bd-tab-item.selected {
	background-color: var(--accent-color);
}
.bd-addon-error-icon svg {
	fill: #FFFFFF;
}
.bd-addon-error-stack code {
	background-color: #141414;
	border: none;
}

/* BD MINIMAL FIXES */
.bd-minimal .base-2jDfDU {
	left: 0px;
}
.bd-minimal .form-3gdLxP {
	padding-left: 0px;
	padding-right: 0px;
}

/* BETTERDISCORD PLUGIN POPUP NOTICES */
.bd-toast, 
.toast {
	background-color: #191919 !important;
	opacity: 0.8;
}
.bd-toast.toast-success.icon,
.toast.toast-success {
	background-color: var(--accent-color) !important;
}

/* BETTERDISCORD PLUGIN UPDATE NOTICE BAR */
#pluginNotice {
	background-color: #121212;
	color: #FFFFFF;
}

/* BOTTOM SETTINGS TEXT */
.info-1sUqUG .colorMuted-20987_:last-child:after {
	content: "DarkGlow+";
	display: block;
    background-image: linear-gradient(to left,rgb(51, 255, 0), rgb(255, 230, 0), red, rgb(234, 0, 255), rgb(0, 140, 255), rgb(51, 255, 0));
    animation: gradient-border 4s linear infinite;
    background-size: 400% 100%;
    color: transparent !important;
    -webkit-background-clip: text;
    z-index: 1;
}

/****************************************** END FIXES ******************************************/


/****************************************** PROFILE BADGES ICONS ******************************************/

/* USER BADGES */
.container-1gYwHN .clickable-1knRMS {
	filter: drop-shadow(-1px 2px 1px rgba(0,0,0,0.5));
}
.container-1gYwHN .clickable-1knRMS:hover {
	transform: scale(1.1);
}

/* SMALLER VARIANT */
.container-1gYwHN .profileBadge18-2GrGvU {
	width: 22px;
	height: 22px;
}

/* BRAVERY */
.container-1gYwHN [src="/assets/efcc751513ec434ea4275ecda4f61136.svg"] {
	content: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Discord/Hypesquad.svg") ;
	filter: hue-rotate(208deg);
	transform: scale(0.85);
}

/* BRILLIANCE */
.container-1gYwHN [src="/assets/ec8e92568a7c8f19a052ef42f862ff18.svg"] {
	content: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Discord/Hypesquad.svg");
	filter: hue-rotate(-40deg);
	transform: scale(0.85);
}

/* BALANCE */
.container-1gYwHN [src="/assets/9f00b18e292e10fc0ae84ff5332e8b0b.svg"] {
	content: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Discord/Hypesquad.svg");
	filter: hue-rotate(120deg);
	transform: scale(0.85);
}

/* STAFF, PARTNER & MODERATOR */
.container-1gYwHN [src="/assets/48d5bdcffe9e7848067c2e187f1ef951.svg"],
.container-1gYwHN [src="/assets/34306011e46e87f8ef25f3415d3b99ca.svg"],
.container-1gYwHN [src="/assets/c981e58b5ea4b7fedd3a643cf0c60564.svg"] {
	filter: hue-rotate(-12deg) brightness(1.1);
}

/****************************************** END PROFILE BADGES ICONS ******************************************/


/****************************************** PROFILE CONNECTIONS ICONS ******************************************/

/* CONNECTIONS HEADER */
.accountList-305sx3 {
	background-color: #141414;
}
.accountList-305sx3 .connectedAccounts-26X_gr {
	justify-content: space-between;
}
.accountList-305sx3 .connectedAccounts-26X_gr .inner-1lPVFp {
	width: 54px;
	height: 54px;
	background-size: 44px 44px;
}
.accountList-305sx3 .connectedAccounts-26X_gr .accountBtnInner-3XK70s {
	background-color: #191919;
}
.accountList-305sx3 .connectedAccounts-26X_gr .accountBtnInner-3XK70s:hover {
	background-color: #292929;
}

/* CONNECTIONS LIST */
.connectionList-1NoxUk {
	grid-gap: 4px;
}
.connectionList-1NoxUk .connection-107AGH {
	background-color: #161616;
}
.connectionList-1NoxUk .connectionHeader-2rV1ze {
	background-color: #141414;
	padding: 10px 16px;
}
.connectionList-1NoxUk .connectionHeader-2rV1ze .connectionAccountValue-3gVX0m {
	font-size: 16px;
}
.connectionList-1NoxUk .connectionHeader-2rV1ze .connectionDelete-XXTMqE:hover, 
.connectionList-1NoxUk .connectionHeader-2rV1ze .connectionIcon-3nqZDW:hover {
	transform: scale(1.2);
	transition: 100ms;
}

/* CONNECTIONS ICONS */
.connectedAccountIcon-2vls0t {
	transform: scale(1.1);
}

/* REDDIT */
.connectedAccountIcon-2vls0t[src="/assets/f3224f560c8f5974355596a4f7e9ce19.svg"] {
	filter: grayscale(1) invert(0.96) brightness(2);
}

/* YOUTUBE */
.connectedAccountIcon-2vls0t[src="/assets/57ee9535485efae7eb923ed4893abb57.svg"] {
	filter: grayscale(1) invert(0.96) brightness(2);
}

/* TWITTER */
.connectedAccountIcon-2vls0t[src="/assets/85cf2b49d2a185c98ec8e383ad5a05d6.svg"] {
	filter: grayscale(1) brightness(2);
}

/* BATTLE.NET */
.connectedAccountIcon-2vls0t[src="/assets/37f15a06d062bdd0fc252d2b35d0b0bb.svg"] {
	filter: grayscale(1) brightness(2);
	transform: scale(1);
}

/* SPOTIFY */
.connectedAccountIcon-2vls0t[src="/assets/eaeac24163b35f7526704a3d9b3c7722.svg"] {
	filter: grayscale(1) brightness(2);
}
.connectedAccountIcon-2vls0t[src="/assets/eaeac24163b35f7526704a3d9b3c7722.svg"]+.connectedAccountNameInner-t24B11 {
	text-transform: capitalize;
}

/* TWITCH */
.connectedAccountIcon-2vls0t[src="/assets/ca71e0b8818221eea1deebbaf8dc6518.svg"] {
	filter: grayscale(1) invert(0.96) brightness(2);
}
.connectedAccountIcon-2vls0t[src="/assets/ca71e0b8818221eea1deebbaf8dc6518.svg"]+.connectedAccountNameInner-t24B11 {
	text-transform: capitalize;
}

/* FACEBOOK */
.connectedAccountIcon-2vls0t[src="/assets/32045743cb7670855ae726743c949e0c.svg"] {
	filter: grayscale(1) invert(0.96) brightness(2);
}

/****************************************** END PROFILE CONNECTIONS ICONS ******************************************/